@import '../../vars';

.mapMyLocationControl{
    margin:10px;
    margin-bottom:0;
    border-radius:10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}