@import '../vars';

.badge{
    color:#FFF;
    padding:2px 11px;
    border-radius:2px;
    font-size:12px;
    font-weight:600;
    text-transform: uppercase;
    height:26px;
    line-height: normal;

    display:inline-flex;
    flex-direction: row;
    align-items: center;

    &.color_blue{
        background-color:$colorAzul;
        
    }
    &.color_red{
        background-color:$colorRed;
        
    }
    &.color_orange{
        background-color:$colorOrange;
        
    }
}