.commentBox{
    position:relative;
    background-color:#FFF;
    border-radius:10px;
    padding:18px 30px;
    font-size:14px;
    line-height:normal;
    .icon{
        position:absolute;
        top:-4px;
        left:-7px;
    }
}