// selector overrides
.timekeeper
    display: flex
    flex-direction: column
    align-items: center
    border: 1px solid none

circle
    fill: #582D82
    stroke: #582D82
    stroke-width: 2



.timekeeper .react-timekeeper__clock-wrapper
    display: box
        
.timekeeper .react-timekeeper__clock
    display: none
 
.timekeeper .react-timekeeper__clock-hand-immediate-circle
   display: none

.timekeeper .react-timekeeper__clock-hand-circle-center
    display: none

.timekeeper .react-timekeeper__clock-hand-circle-outer
    display: none
    
.timekeeper .react-timekeeper__done-button
    display: none
 
.timekeeper .react-timekeeper__clock-hour
    border: 1px solid red

.timekeeper .react-timekeeper__clock-minutes
    border: 1px solid red
    
.timekeeper .react-timekeeper__drop-down-numbers
    border: 1px solid red


// new selectors   
.alarm-clock-plus 
    display: flex
    padding: 5px 10px
    color: #fff
    border-radius: 6px
    // background-image: linear-gradient(#ff70b1, #d42a78)
    background-image: linear-gradient(#905cc4, #582D82)

.current-time
    display: flex
    background-color: #582D82
    padding: 10px
    color: white    
    text-align: center

.current-time-form
    width: 180px
    background-color: #582D82
    text-align: center
    line-height: 2
    

// eof  