.broadcastNotifications{
    .title{
        margin-bottom:14px;
    }
    p{
        font-size:14px;
    }
    .manualBroadcastsOptions{
        .button{
            margin-bottom:14px;
        }
        margin-bottom:30px;
    }
    .automaticBroadcastsOptions{
        .filterInput{
            margin-right:20px;
        }
        margin-bottom:10px;
    }
}